@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?3rs16y');
    src:  url('../fonts/icomoon.eot?3rs16y#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?3rs16y') format('truetype'),
      url('../fonts/icomoon.woff?3rs16y') format('woff'),
      url('../fonts/icomoon.svg?3rs16y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow-dowm:before {
    content: "\e900";
  }
  .icon-arrow-left:before {
    content: "\e901";
  }
  .icon-arrow-right:before {
    content: "\e902";
  }
  .icon-arrow-up:before {
    content: "\e903";
  }
  .icon-close-1:before {
    content: "\e904";
  }
  .icon-delete-1:before {
    content: "\e905";
  }
  .icon-filter:before {
    content: "\e906";
  }
  .icon-heart-1:before {
    content: "\e907";
  }
  .icon-instagram-1:before {
    content: "\e908";
  }
  .icon-loupe-1:before {
    content: "\e909";
  }
  .icon-odnoklassniki-logo-1:before {
    content: "\e90a";
  }
  .icon-phone-call-1:before {
    content: "\e90b";
  }
  .icon-shopping-bag-1:before {
    content: "\e90c";
  }
  .icon-user-1:before {
    content: "\e90d";
  }
  .icon-vk-reproductor-1:before {
    content: "\e90e";
  }
  