body {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;

    background-color: #fff;
}
#page_wrapper #content-page {
    min-height: 100vh;
}

.py-50-100 {
    padding: 50px 0px;
    @media (min-width: 991px) {
        padding: 100px 0px;
    }
}
.pt-50-60 {
    padding-top: 50px;
    @media (min-width: 991px) {
        padding-top: 60px;
    }
}
.pt-50-120 {
    padding-top: 50px;
    @media (min-width: 991px) {
        padding-top: 120px;
    }
}
.pb-50-120 {
    padding-bottom: 50px;
    @media (min-width: 991px) {
        padding-bottom: 120px;
    }
}
.pb-100-160 {
    padding-bottom: 100px;
    @media (min-width: 991px) {
        padding-bottom: 160px;
    }
}