.input {
    &.input_radio {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 7px;
        input {
            width: 0.1px;
            height: 0.1px;
            visibility: hidden;
            display: block;
            position: absolute;
        }
        .input__text {
            display: inline-block;
            width: 19px;
            height: 19px;
            border-radius: 100%;
            padding: 0px;
            position: relative;
            border: 1px solid #fff;
            box-shadow: 0px 0px 1px 1px transparent;
        }
        input:checked ~ .input__text {
            border: 1px solid #fff;
            box-shadow: 0px 0px 1px 1px #000;
        }
        &.input_radio_product {
            .input__text {
                width: 28px;
                height: 28px;
                border: 3px solid #fff;
            }
            input:checked ~ .input__text {
                border: 3px solid #fff;
                box-shadow: 0px 0px 1px 1px #838585;
            }
        }
    }
}


.form-group {
    label {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #222222;
        margin-bottom: 8px;
        span {
            color: #F3612E;
        }
    }
    .form-control {
        background: #F8F8F8;
        border-radius: 5px;
        padding: 15px 38px 15px 38px;
    
        font-size: 18px;
        line-height: 21px;
        color: #838585;
        &:focus {
            background: #F8F8F8;
            color: #838585;
        }
        &::-moz-placeholder { 			color: #838585; }
        &::-webkit-input-placeholder { 	color: #838585; }
        &:-ms-input-placeholder { 		color: #838585; }
        &::-ms-input-placeholder { 		color: #838585; }
        &::placeholder { 				color: #838585; }
    }
}
.form-check {
    .form-check-input[type=checkbox] {
        border: 1px solid #838585;
        box-sizing: border-box;
        border-radius: 2px;
        margin-left: -19px;
    }
    label {
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-left: 9px;
    }
}

.picker-number {
    &.picker-number_type-3 {
        width: 186px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .picker-number__button {
            box-sizing: border-box;

            background: none;
            border: 1px solid #838585;
            border-radius: 15px;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 50px;
            height: 50px;
            min-width: 50px;
            min-height: 50px;
            padding: 0px;
            

            font-size: 18px;
            color:  #000;

            transition: 
                box-shadow 0.3s ease,
                color .3s ease,
                border-color .3s ease,
                background-color .3s ease,
                transform .3s / 4 ease;
            &:hover {
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                border: 1px solid #838585;
            }
            &:focus {
                outline: none;
            }
            &:active {
                transform: scale(1.14);
            }
            @media (max-width: 1300px) {
                width: 40px;
                height: 40px;
                min-width: 40px;
                min-height: 40px;
                border-radius: 10px;
            }
        }
        .picker-number__input {
            box-sizing: border-box;

            border: 1px solid #838585;
            border-radius: 15px;

            font-size: 24px;
            line-height: 28px;
            height: 100%;


            width: calc(100% - 100px);
            padding: 0px;
            margin: 0px 5px;
            background: none;

            text-align: center;

            &[type='number'] { -moz-appearance:textfield; }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button { -webkit-appearance: none; }
            @media (max-width: 1300px) {
                width: calc(100% - 80px);
                border-radius: 10px;
            }
        }

        &.picker-number_type-3_hover-1 {
            .picker-number__button {
                &:hover {
                    color:  #E5E5E5;
                    border-color: #838585;
                    background-color: #838585;
                }
            }
        }
        &.picker-number_type-3_hover-2 {
            .picker-number__button {
                background: none;
                &:hover {
                    border: 1px solid #838585;
                    color: #838585;
                    border-color: #838585;
                }
            }
        }
        @media (max-width: 1300px) {
            width: 160px;
            height: 40px;
        }
    }
}