.btn {

    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    &.btn-primary {
        padding: 14px 37px;
        background: #BF8072;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
    }
}


.btn-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: underline!important;
    text-transform: uppercase;
    letter-spacing: 0px;

    color: #000000;
    &.btn-link_2 {
        text-decoration: none!important;
        text-transform: unset;
        font-weight: 600;
        color: #000000;
    }

}

.btn-heart {
    padding: 0px!important;
    background: none!important;
    color: #000!important;

    font-size: 16px;
    line-height: 18px;
    i {
        font-size: 18px;
        line-height: 20px;
    }
}