div(class="breadcrumb-block")
	<div class="breadcrumb-area">
		<div class="container">
			div(class="container")
				div(class="row")
					div(class="col-12 col-lg-6")
						h1(class="mb-4 mb-lg-0")
							| Заголовок
					div(class="col-12 col-lg-6")
						<div class="breadcrumb-content">
							<ul>
								<li><a href="#">Главная</a></li>
								li(class="breadcrumb-line")
									| /
								li
									a(href="#")
										| Услуги
								li(class="breadcrumb-line")
									| /
								<li>Частным лицам</li>
							</ul>
						</div>
		</div>
	</div>