<footer class="footer-main">
	<div class="container">
		<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
			<div class="col-10 col-lg-3">
				<div class="footer-widget">
					<div class="footer-logo">
						<a href="#"><img class="lazyload" data-src="images/logovar1.png" alt="Image not found!" /></a><br>
						<a href="#"><img class="lazyload" data-src="images/logovar2.png" alt="Image not found!" /></a>
					</div>
					<div class="widget-ecommerce-contact pt-4">
						p(class="footer-description")
							| Ведущий производитель женских сумок в России из кожзаменителя, тканей и натуральной кожи: сумки оптом и в розницу.
					</div>
				</div>
				
			</div>
			<div class="col col-lg-3 pt-4 d-none d-lg-block">
				<div class="footer-widget category-widget">
					<h6 class="widget-title">БЫСТРЫЕ ССЫЛКИ</h6>
					<ul>
						each item in ["Сумки и рюкзаки из гобелена", "Сумки Vintage", "Сумки кожзам", "Сумки женские оптом", "Сумки мужкие оптом"]
							li()
								a(href="#")
									= item
					</ul>
				</div>
			</div>
			<div class="col col-lg-3 pt-4 d-none d-lg-block">
				<div class="footer-widget category-widget">
					<h6 class="widget-title">О компании</h6>
					<ul>
						each item in ["О нас", "Сотрудничество", "Доставка и оплата", "Вакансии", "Контакты"]
							li()
								a(href="#")
									= item
					</ul>
				</div>
			</div>
			<div class="col col-lg-3 pt-4">
				<div class="footer-widget widget-nav">
					<h6 class="widget-title pb-4">КОНТАКТЫ</h6>
					p(class="footer-description")
						| 199178, Санкт-Петербург,<br>17-линия, 54/4
					a(href="tel:+78123207714" class="header-phone header-phone_footer mb-4")
						| +7 (812) 320-77-14
					div(class="d-flex align-items-center social-block")
						a(class="social-item" href="#")
							i(class="icon-vk-reproductor-1")
						a(class="social-item" href="#")
							i(class="icon-instagram-1")
						a(class="social-item" href="#")
							i(class="icon-odnoklassniki-logo-1")
				</div>
			</div>
		</div>
	</div>
</footer>
<!--==================== Footer Section End ====================-->

<!--==================== Copyright Section Start ====================-->
<div class="copyright-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<span class="footer-dop-description d-none d-lg-block">© 1993 - 2021 L-Craft кожгалантерейная фабрика</span>
				<span class="footer-dop-description d-block d-lg-none">1993 - 2021 ООО “Рассвет” кожгалантерейная фабрика</span>
			</div>
			<div class="col-lg-6 d-none d-lg-flex justify-content-end">
				a(href="#" class="poly-text")
					| Политика конфиденциальности 
			</div>
		</div>
	</div>
</div>
<!--==================== Copyright Section End ====================-->