<!--==================== Header Section Start ====================-->
<header class="ecommerce-header">
	<div class="top-header border-0">
		<div class="container container-1920">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6">
					<div  class="header-description">
						<span class="d-none d-lg-block">Официальный сайт кожгалантерейной фабрики ООО "Рассвет" г. Санкт-Петербург</span>
						span(class="d-block d-lg-none")
							| Официальный сайт кожгалантерейной фабрики ООО "Рассвет" 
					</div>
				</div>
				<div class="col-lg-6 d-none d-lg-flex">
					<ul class="top-links d-flex ms-auto align-items-end">
						<li>
							<a href="#">
								<i class="icon-user-1"></i>
								span(class="d-none d-lg-block")
									| Войти
							</a>
						</li>
						<li>
							<a href="#" class="header-favorites">
								span(class="count")
									| 4
								<i class="icon-heart-1"></i>
								span(class="d-none d-lg-block")
									| Избранное
							</a>
						</li>
						<li>
							<a href="#" class="header-cart">
								span(class="count")
									| 4
								<i class="icon-shopping-bag-1"></i>
								span(class="d-none d-lg-block")
									| Корзина
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="middle-header">
		<div class="container container-1920">
			<div class="row">
				<div class="col col-lg-6 pr-0 pr-lg-3">
					<div class="h-100 d-flex align-items-center">
						<a class="navbar-brand navbar-brand_1 navbar-brand_border" href="#">
							<img class="nav-logo lazyload" data-src="images/logovar1.png" alt="логотип">
						</a>
						<a class="navbar-brand navbar-brand_2" href="#">
							<img class="nav-logo lazyload" data-src="images/logovar2.png" alt="логотип">
						</a>
					</div>
				</div>
				div(class="col col-lg-6 d-flex justify-content-end")
					div(class="d-flex flex-column")
						a(href="tel:+78123207714" class="header-phone mb-2")
							i(class="icon-phone-call-1")
							| +7 (812) 320-77-14
						a(href="tel:+78124263533" class="header-phone")
							i(class="icon-phone-call-1")
							| +7 (812) 426-35-33
			</div>
		</div>
	</div>
	<div class="main-nav d-none d-lg-block">
		<div class="container container-1920">
			<div class="row align-items-center">				
				<div class="col-12 col-lg-12 col-xl-7">
					<nav class="navbar navbar-expand-lg nav-dark nav-primary-hover nav-line-active">
						<a class="navbar-brand d-lg-none" href="#">
							<img class="nav-logo lazyload" data-src="images/logo/21.png" alt="Image not found!">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<i class="navbar-toggler-icon flaticon-menu-2 flat-small text-dark"></i>
						</button>
						<div class="collapse navbar-collapse justify-content-lg-center justify-content-xl-start" id="navbarSupportedContent">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link active" href="#">Главная</a></li>
								
								<li class="nav-item dropdown mega-dropdown">
									<a class="nav-link dropdown-toggle" href="#">Каталог L-Craft</a>
									<ul class="dropdown-menu mega-dropdown-menu">
										<li class="mega-container">
											<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
												<div class="col">
													<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
													<ul>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
													</ul>
												</div>
												<div class="col">
													<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
													<ul>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
													</ul>
												</div>
												<div class="col">
													<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
													<ul>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
													</ul>
												</div>
												<div class="col">
													<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
													<ul>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
													</ul>
												</div>                                                        
											</div>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown mega-dropdown">
									<a class="nav-link dropdown-toggle" href="#">Каталог Vintage</a>
									<ul class="dropdown-menu mega-dropdown-menu">
										<li class="mega-container">
											<div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
												<div class="col">
													<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
													<ul>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
													</ul>
												</div>
												<div class="col">
													<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
													<ul>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
													</ul>
												</div>
												<div class="col">
													<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
													<ul>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
													</ul>
												</div>
												<div class="col">
													<span class="d-inline-block px-3 font-600 text-uppercase text-secondary pb-2">Наименование категории</span>
													<ul>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
														<li><a class="dropdown-item" href="#">Подкатегория</a></li>
													</ul>
												</div>                                                        
											</div>
										</li>
									</ul>
								</li>
								<li class="nav-item"><a class="nav-link" href="#">О фабрике</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Доставка и оплата</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
							</ul>
						</div>
					</nav>
				</div>
				div(class="col-lg-12 col-xl-5 d-flex justify-content-lg-center justify-content-xl-end  pt-lg-3 pt-xl-0")
					form(class="header-search")
						input(type="search" placeholder="Я хочу найти")
						button(type="submit")
							span
								| поиск
							i(class="icon-loupe-1")
			</div>
		</div>
	</div>
	<div class="header-sticky bg-white py-10">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-3 col-xxl-3 col-xl-3 col-lg-3 order-1 order-lg-1">
					<div class="d-flex align-items-center h-100">
						<div class="nav-leftpush-overlay">
							<nav class="navbar navbar-expand-lg nav-general nav-primary-hover">
								<button type="button" class="push-nav-toggle d-lg-none border-0">
									<i class="flaticon-menu-2 flat-small text-primary"></i>
									span()
										| МЕНЮ
								</button>
								<div class="navbar-slide-push transation-this">
									<div class="login-signup bg-secondary d-flex justify-content-between py-10 px-20 align-items-center">
										<a href="#" class="d-flex align-items-center text-white">
											<i class="flaticon-user flat-small me-1"></i>
											<span>Войти/Зарегестрироваться</span>
										</a>
										<span class="slide-nav-close"><i class="flaticon-cancel flat-mini text-white"></i></span>
									</div>
									<div class="menu-and-category">
										<ul class="nav nav-pills wc-tabs" id="menu-and-category" role="tablist">
											<li class="nav-item" role="presentation">
												<a class="nav-link active" id="pills-push-menu-tab" data-bs-toggle="pill" href="#pills-push-menu" role="tab" aria-controls="pills-push-menu" aria-selected="true">Меню</a>
											</li>
											<li class="nav-item" role="presentation">
												<a class="nav-link" id="pills-push-categories-tab" data-bs-toggle="pill" href="#pills-push-categories" role="tab" aria-controls="pills-push-categories" aria-selected="true">Категории</a>
											</li>
										</ul>
										<div class="tab-content" id="menu-and-categoryContent">
											<div class="tab-pane fade show active woocommerce-Tabs-panel woocommerce-Tabs-panel--description" id="pills-push-menu" role="tabpanel" aria-labelledby="pills-push-menu-tab">
												<div class="push-navbar">
													<ul class="navbar-nav">
														
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														<li class="nav-item"><a class="nav-link" href="#">Пункт меню</a></li>
														
													</ul>
													
												</div>
											</div>
											<div class="tab-pane fade" id="pills-push-categories" role="tabpanel" aria-labelledby="pills-push-categories-tab">
												<div class="categories-menu">
													<ul class="menu">
														<li class="menu-item-has-children unicode-megamenu-dropdown unicode-megamenu-item-full-width">
															<a href="#">Каталог L-Craft</a>
															
														</li>
														<li class="menu-item-has-children unicode-megamenu-dropdown unicode-megamenu-item-full-width">
															<a href="#">Каталог Vintage</a>
															
														</li>
														
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</nav>
						</div>
						<a class="navbar-brand navbar-brand_border d-none d-lg-block" href="#"><img class="nav-logo lazyload" data-src="images/logovar1.png" alt="Image not found !"></a>
						<a class="navbar-brand d-none d-lg-block" href="#"><img class="nav-logo lazyload" data-src="images/logovar2.png" alt="Image not found !"></a>
					</div>
				</div>
				<div class="col-4 col-xxl-3 col-xl-4 col-lg-3  order-3 order-lg-3">
					<div class="d-flex align-items-center justify-content-end h-100">
						<ul class="top-links d-flex align-items-end">
							<li>
								<a href="#">
									<i class="icon-user-1"></i>
									span(class="d-none d-lg-block")
										| Войти
								</a>
							</li>
							<li>
								<a href="#" class="header-favorites">
									span(class="count")
										| 4
									<i class="icon-heart-1"></i>
									span(class="d-none d-lg-block")
										| Избранное
								</a>
							</li>
							<li>
								<a href="#" class="header-cart">
									span(class="count")
										| 4
									<i class="icon-shopping-bag-1"></i>
									span(class="d-none d-lg-block")
										| Корзина
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-5 col-xxl-6 col-xl-6 col-lg-6 order-2 order-lg-2 px-0 px-lg-3">
					form(class="header-search")
						input(type="search" placeholder="Я хочу найти")
						button(type="submit")
							span
								| поиск
							i(class="icon-loupe-1")
				</div>
			</div>
		</div>
	</div>
</header>
<!--==================== Header Section End ====================-->