<form class="product type-product">
	<div class="product-wrapper">
		<div class="product-image">
			<a href="#" class="woocommerce-LoopProduct-link">
				<img src="images/height-4.png" alt="Product Image">
			</a>
			div(class="product-variations")
				<label for="temp_1" class="input input_radio">
					<input type="radio" name="temp" id="temp_1" value="1" checked>
					<span class="input__text" style="background-color: #b78269;"></span>
				</label>
				<label for="temp_2" class="input input_radio">
					<input type="radio" name="temp" id="temp_2" value="2">
					<span class="input__text" style="background-color: #f1cc4e;"></span>
				</label>
				<label for="temp_3" class="input input_radio">
					<input type="radio" name="temp" id="temp_3" value="3">
					<span class="input__text" style="background-color: #31749e;"></span>
				</label>
				<label for="temp_4" class="input input_radio">
					<input type="radio" name="temp" id="temp_4" value="4">
					<span class="input__text" style="background-color: #672a4f;"></span>
				</label>
			<div class="on-sale">- 20%</div>
			<div class="hover-area">
				<div class="wishlist-button">
					<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="В избранное" aria-label="В избранное">В избранное</a>
				</div>
				<div class="cart-button">
					<a href="#" class="button add_to_cart_button" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="В корзину" aria-label="В корзину">В корзину</a>
				</div>
			</div>
		</div>
		<div class="product-info">
			<h3 class="product-title"><a href="#">Модель №V161 | кожзам | гладкий | серебро | Р847-11 | 28236</a></h3>
			<div class="product-price">
				<div class="price">
					span(class="now-price")
						| 3 746 ₽
					<ins>2 068 ₽</ins>
					<del>3 000 ₽</del>
				</div>
			</div>
			
		</div>
	</div>
</form>