.poly-text {
	font-size: 14px;
	line-height: 100%;
	color: #F8F8F8;
}
.footer-dop-description {
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
	color: #F8F8F8;
	@media (max-width: 991px) {
		font-size: 12px;
		line-height: 14px;
		text-align: center;
	}
}

.copyright-block {
	background: #222222;
	padding: 36px 0px;
	@media (max-width: 991px) {
		padding: 16px 0px 11px 0px;
	}
}

.footer-main {
	padding: 40px 0px;
	background: #F8F8F8;
	@media (max-width: 991px) {
		padding: 13px 0 40px 0px;
		border-top: 2px solid #EEEEEE;
		background: none;
	}
}
.footer-logo {
	height: unset;
	img {
		width: 100%;
		max-width: 171px;
	}
	a {
		&:first-child {
			margin-bottom: 32px;
		}
	}
}
.footer-description {
	font-size: 14px;
	line-height: 100%;
	color: #838585;
}

.footer-widget {
	.widget-title {
		text-transform: unset;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		color: #222222;
		margin: 0px;
		padding-bottom: 50px;
	}
	li {
		margin-bottom: 25px;
		a {
			font-size: 14px;
			line-height: 100%;
			color: #838585;
		}
		&:last-child {
			margin: 0px;
		}
	}
}

.social-block {
	.social-item {
		margin-right: 21px;
		&:last-child {
			margin: 0px;
		}
	}
}
.social-item {
	font-size: 24px;
}