/*==================================
Theme Color All Codes Variable
==================================*/

:root {
    --theme-general-color: #878789;
    /* theme gray color ok*/
}

:root {
    --theme-primary-color: #BF8072;
    /* theme primary color ok*/
}

:root {
    --theme-secondary-color: #141926;
    /* theme secondary color ok*/
}

:root {
    --theme-white-color: #fff;
    /* theme white font color ok*/
}

:root {
    --theme-light-color: #e9fae1;
    /* theme light gray color ok*/
}

:root {
    --theme-gray-color: #f5f5f5;
    /* theme gray color ok*/
}

:root {
    --theme-dark-color: #1b1b1e;
    /* theme dark color */
}

:root {
    --theme-footer-color: #1e2124;
    /* theme dark color */
}

:root {
    --theme-extra-color: #e85140;
    /* theme extra color ok*/
}

:root {
    --theme-primary-opacity-color: rgba(191, 128, 114, .8);
    /* theme primary opacity color */
}

:root {
    --theme-secondary-opacity-color: rgba(20, 25, 38, .8);
    /* theme secondary color */
}

:root {
    --theme-dark-opacity-color: rgba(27, 27, 30, .8);
    /* theme dark opacity color */
}

:root {
    --theme-white-opacity-color: rgba(255, 255, 255, 0.5);
    /* theme white color */
}

:root {
    --theme-white-opacity90-color: rgba(255, 255, 255, 0.9);
    /* theme white color */
}

:root {
    --text-light-color: #a5a5a5;
    /* text light color */
}

:root {
    --text-gray-color: #c3c3c3;
    /* theme text gray color */
}


/*==================================
Font Variable
==================================*/

:root {
    --theme-general-font: 'Gilroy', sans-serif;
    /* Font use for normal text and general text ok*/
}

:root {
    --theme-hiperlink-font: 'Gilroy', sans-serif;
    /* Font use for normal text and general text ok*/
}

:root {
    --theme-highlight-font: 'Gilroy', serif;
    /* Font used in title or special area ok*/
}


/*==================================
Extra CSS
==================================*/

body {
    font-size: 15px;
}

h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-weight: 700;
}

h5,
.h5 {
    font-size: 17px;
    font-weight: 400;
    font-family: var(--theme-general-font);
}

.btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0 20px;
    line-height: 40px;
}

.btn-outline-secondary {
    border-width: 2px;
}

[class*="btn-link"] {
    font-weight: 500;
    letter-spacing: 3px
}

.btn-lg {
    line-height: 46px;
    padding: 0 25px
}

.sub-title {
    font-size: 17px;
    font-weight: 400;
    font-family: var(--theme-general-font);
}

.ecommerce-header .top-header {
    font-size: 14px;
}

.ecommerce-header .wishlist-view a.top-quantity span,
.ecommerce-header .refresh-view a.top-quantity span,
.ecommerce-header .cart-view a.top-quantity span {
    color: var(--theme-white-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 15px;
}

.product-wrapper .product-info .product-price .price ins,
.product-wrapper .product-info .product-price .price del {
    font-size: 15px;
    font-weight: 500;
}

.product-wrapper .product-info .product-title,
.product-wrapper .product-info .product-title a {
    font-weight: 400;
    font-size: 17px;
}

.footer-widget li a {
    font-weight: 400;
}

.media-widget a {
    color: var(--theme-white-color);
}

.footer-widget .widget-title {
    color: var(--theme-white-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--theme-general-font);
    text-transform: uppercase;
}