extends base.pug
block content
	include components/breadcrumbs.pug 
	<div class="full-row pb-0 about-block">
		<div class="container pb-50-120">
			<div class="row">
				<div class="col-lg-12 mb-5 d-flex flex-column align-items-center">
					<h3 class="text-secondary">Вехи истории</h3>
					<img class="lazyload" data-src="images/line.png" alt="img">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="tab-simple history-tab tab-action">
						<ul class="nav nav-pills wc-tabs" id="pills-tab-one" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" id="pills-1985-one-tab" data-bs-toggle="pill" href="#pills-1985-one" role="tab" aria-controls="pills-1985-one" aria-selected="true">1993</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-1995-one-tab" data-bs-toggle="pill" href="#pills-1995-one" role="tab" aria-controls="pills-1995-one" aria-selected="true">1997</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-2005-one-tab" data-bs-toggle="pill" href="#pills-2005-one" role="tab" aria-controls="pills-2005-one" aria-selected="true">2001</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-2011-one-tab" data-bs-toggle="pill" href="#pills-2011-one" role="tab" aria-controls="pills-2011-one" aria-selected="true">2008</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-2015-one-tab" data-bs-toggle="pill" href="#pills-2015-one" role="tab" aria-controls="pills-2015-one" aria-selected="true">2014</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-2019-one-tab" data-bs-toggle="pill" href="#pills-2019-one" role="tab" aria-controls="pills-2019-one" aria-selected="true">2021</a>
							</li>
						</ul>
						<div class="tab-content icon-hover-primary" id="pills-tabContent-one">
							<div class="tab-pane fade show active woocommerce-Tabs-panel woocommerce-Tabs-panel--description" id="pills-1985-one" role="tabpanel" aria-labelledby="pills-1985-one-tab">
								<div class="container">
								<div class="row pt-5">
									<div class="col-lg-4">
										<img class="lazyload" data-src="images/history.png" alt="img">
									</div>
									<div class="col-lg-8">
										<h5 class="text-white text-dark">Образование компании</h5>
										p()
											| За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ.
										p()
											| Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше.
										p()
											| В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.
									</div>
								</div>
							</div>
								
							</div>
							<div class="tab-pane fade" id="pills-1995-one" role="tabpanel" aria-labelledby="pills-1995-one-tab">
								<h5 class="text-white text-dark">Образование компании</h5>
								p()
									| За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ.
								p()
									| Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше.
								p()
									| В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.
							</div>
							<div class="tab-pane fade" id="pills-2005-one" role="tabpanel" aria-labelledby="pills-2005-one-tab">
								<h5 class="text-white text-dark">Образование компании</h5>
								p()
									| За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ.
								p()
									| Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше.
								p()
									| В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.
							</div>
							<div class="tab-pane fade" id="pills-2011-one" role="tabpanel" aria-labelledby="pills-2011-one-tab">
								<h5 class="text-white text-dark">Образование компании</h5>
								p()
									| За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ.
								p()
									| Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше.
								p()
									| В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.
							</div>
							<div class="tab-pane fade" id="pills-2015-one" role="tabpanel" aria-labelledby="pills-2015-one-tab">
								<h5 class="text-white text-dark">Образование компании</h5>
								p()
									| За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ.
								p()
									| Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше.
								p()
									| В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.
							</div>
							<div class="tab-pane fade" id="pills-2019-one" role="tabpanel" aria-labelledby="pills-2019-one-tab">
								<h5 class="text-white text-dark">Образование компании</h5>
								p()
									| За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ.
								p()
									| Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше.
								p()
									| В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		div(class="container block-video pb-50-120")
			div(class="row align-items-center")
				div(class="col-12 col-lg-6")
					<div class="intro-video position-relative" data-fancybox  href="https://www.youtube.com/watch?v=wbnaHgSttVo" title="video popup">
					</div>
				div(class="col-12 col-lg-6 pt-4 pt-lg-0")
					h2()
						| О компании
					h3()
						| Изготовление сумок ручной работы
					p()
						| С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа существенных финансовых и административных условий. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
		div(class="full-row pb-100-160" style="background-color: #BF9272;")
			<div class="container">
				<div class="row">
					-ar1 = ["images/shopping-bag 3.svg", "images/shop 1.svg", "images/shipping 1.svg"]
					-arcount = ["12 600", "151+", "721+"]
					-artitle = ["Сумок ежедневно", "Представителей", "Отгрузка ежедневно"]
					each item, index in ["Наша фабрика ежедневно отшиваете более 12 000 товарных позиций", "Большая сеть партнеров и оптовых покупателей. Наши сумки экспортируются в пять стран.", "Ежедневно мы отгружаем большие партии товаров для наших оптовых покупателей."]
						div(class="col-12 col-lg-4 pb-4 pb-lg-0")
							div(class="frt-item")
								img(class="lazyload" data-src=ar1[index] alt="img")
								span(class="count")
									= arcount[index]
								span(class="title")
									= artitle[index]
								p()
									= item

				</div>
			</div>
			<div class="bg3 d-none d-lg-block">
				<img class="lazyload" data-src="images/bag1.png" alt="img">
			</div>
	</div>