extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="pt-50-120 pb-50-120")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-9 pb-5 pb-lg-0")
					-for(let i = 0; i < 5; i ++)
						div(class="cart-item mb-4")
							div(class="row align-items-center")
								div(class="col-12 col-lg-1 pb-4 pb-lg-0 d-flex flex-column align-items-center")
									a(href="#")
										img(class="lazyload img-fluid" data-src="images/squire-95.png" alt="img")
								div(class="col-12 col-lg-4 pb-4 pb-lg-0")
									a(href="#")
										span(class="title pb-2 d-block")
											| Модель №V161 | кожзам | гладкий | серебро | Р847-11 | 28236
									span(class="arc")
										| Артикул: 100122121
								div(class="col-12 col-lg-2 pb-4 pb-lg-0 d-flex flex-column align-items-center px-lg-1")
									span(class="price")
										| 2 525 ₽
									span(class="price price_coupon")
										| 2 525 ₽
								div(class="col-12 col-lg-3 pb-4 pb-lg-0 d-flex flex-column align-items-center px-lg-1")
									form(class="picker-number picker-number_type-3 picker-number_type-3_hover-1")
										button(class="picker-number__button picker-number__button_dec" type="button") -
										input(class="picker-number__input" type="number" value="1" step="1" min="1")
										button(class="picker-number__button picker-number__button_inc" type="button") +
								div(class="col-12 col-lg-1 pb-4 pb-lg-0 d-flex flex-column align-items-center px-lg-1")
									b(class="sub-price")
										| 4 136 ₽
								div(class="col-12 col-lg-1 d-flex flex-column align-items-center px-lg-1")
									form()
										button(type="submit")
											i(class="icon-delete-1")
				div(class="col-12 col-lg-3")
					div(class="cart-sidebar")
						span(class="title")
							| ИТОГО
						div(class="cart-sidebar__count pb-3")
							span
								| количество товаров 
							span()
								| 6
						div( class="cart-sidebar__price pb-5")
							span()
								| на сумму
								b(class="ms-2")
									| 18 869 ₽
						div(class="cart-sidebar__coupon d-flex flex-row")
							span()
								| Скидка
							span(class="main-color ms-3")
								| - 425 ₽
				div(class="col-12 col-lg-9 pt-5")
					form(class="row checkout")
						div(class="col-12 col-lg-4")
							h2(class="font-24 mb-4")
								b 
									| Данные покупателя
							<div class="form-group mb-4">
								<input type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="ФИО">
							</div>
							<div class="form-group mb-4">
								<input type="phone" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="Телефон">
							</div>
							<div class="form-group mb-4">
								<input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="e-mail">
							</div>
						div(class="col-12 col-lg-4")
							h2(class="font-24 mb-4")
								b 
									| Доставка:
							<ul id="shipping_method" class="woocommerce-shipping-methods">
								<li>
									<input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_free_shipping1" value="Самовывоз со склада" class="shipping_method" checked="checked">
									<label for="shipping_method_0_free_shipping1">Самовывоз со склада</label>
								</li>
								<li>
									<input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_flat_rate2" value="СДЕК" class="shipping_method">
									<label for="shipping_method_0_flat_rate2">СДЕК</label>
								</li>
							</ul>
						div(class="col-12 col-lg-4")
							h2(class="font-24 mb-4")
								b 
									| Адрес доставки:
							<div class="form-group mb-4">
								<input type="text" class="form-control" id="city" aria-describedby="emailHelp" placeholder="Город">
							</div>
							<div class="form-group mb-4">
								<input type="phone" class="form-control" id="adres" aria-describedby="emailHelp" placeholder="Адрес">
							</div>
						div(class="col-12 pt-4")
							form()
								button(type="submit" class="btn btn-primary")
									| ОФОРМИТЬ ЗАКАЗ


