extends base.pug
block content
	include components/breadcrumbs.pug
	<div class="full-row">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div id="sidebar" class="widget-title-bordered-full">
						div(class="category-sidebar-item")
							h2()
								| Категория
							ul()
								- let prcount = ["(50)", "(148)", "(87)", "(87)", "(87)", "(87)", "(19)"]
								each item, index in ["Мужские сумки", "Женские сумки", "Рюкзаки", "Аксессуары", "Подарочны наборы", "Маски", "ТОВАРЫ СО СКИДКОЙ"]
									if(index == 6)
										li()
											a(href="#" class="rare")
												= item
												span(class="ms-1")
													= prcount[index]
									else
										li()
											a(href="#")
												= item
												span(class="ms-1")
													= prcount[index]
									
						<div id="bigbazar-price-filter-list-1" class="widget bigbazar_widget_price_filter_list widget_layered_nav widget-toggle">
							<h2 class="widget-title">Filter by Price</h2>
							<ul class="price-filter-list">
								<li class="wc-layered-nav-term">
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>0.00</bdi>
									</span> -
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>50.00</bdi>
									</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>50.00</bdi>
									</span> -
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>100.00</bdi>
									</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>100.00</bdi>
									</span> -
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>200.00</bdi>
									</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>200.00</bdi>
									</span> -
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>400.00</bdi>
									</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>400.00</bdi>
									</span> -
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>800.00</bdi>
									</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="woocommerce-Price-amount amount">
											<bdi><span class="woocommerce-Price-currencySymbol">$</span>800.00 +</bdi>
									</span>
								</li>
							</ul>
						</div>
						<div id="bigbazar-attributes-filter-3" class="widget woocommerce bigbazar-attributes-filter widget_layered_nav widget-toggle">
							<h2 class="widget-title">Colors</h2>
							<ul class="swatch-filter-pa_color">
								<li class="wc-layered-nav-term">
									<span class="nav-title">Black</span>
									<span class="count">(3)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Blue</span>
									<span class="count">(4)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Dark Blue</span>
									<span class="count">(5)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Grey</span>
									<span class="count">(3)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Red</span>
									<span class="count">(4)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Silver</span>
									<span class="count">(2)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Black</span>
									<span class="count">(3)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Blue</span>
									<span class="count">(4)</span>
								</li>
							</ul>
						</div>
						<div id="bigbazar-attributes-filter-4" class="widget woocommerce bigbazar-attributes-filter widget_layered_nav widget-toggle">
							<h2 class="widget-title">Brands</h2>
							<ul class="swatch-filter-pa_brands">
								<li class="wc-layered-nav-term">
									<span class="nav-title">Easy</span>
									<span class="count">(45)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Costaco</span>
									<span class="count">(25)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Arong</span>
									<span class="count">(5)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Lotto</span>
									<span class="count">(3)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Hema</span>
									<span class="count">(4)</span>
								</li>
								<li class="wc-layered-nav-term">
									<span class="nav-title">Tultext</span>
									<span class="count">(2)</span>
								</li>
							</ul>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="section-head border-bottom d-flex justify-content-between align-items-center">
									<div class="d-flex section-head-side-title">
										<h5 class="font-700 text-dark mb-0">Recent Product</h5>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="owl-carousel owl-nav-hover-primary nav-top-right single-carousel dot-disable product-list e-bg-white">
									<div class="item">
										<div class="row row-cols-1">
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-41.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Fanqieliu Real 925 Sterling Silver Drop  Earrings Flower Purple</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$6.00</ins>
																	<del>$10.00</del>
																</div>
																<div class="on-sale"><span>40</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.95</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(273)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-19.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Designers Women Messenger  Bags Females Bucket Bag</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$15.00</ins>
																	<del>$30.00</del>
																</div>
																<div class="on-sale"><span>50</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.8</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(305)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-42.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Men's Windbreaker Jackets Military  Hooded Wind Breaker Casual </a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$28.00</ins>
																	<del>$40.00</del>
																</div>
																<div class="on-sale"><span>30</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.95</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(273)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-27.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Silver Color Finger Rings For women & Young Girl</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$4.00</ins>
																	<del>$16.00</del>
																</div>
																<div class="on-sale"><span>75</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.9</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(543)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row row-cols-1">
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-37.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Game The Legend of Zelda Solid Color Printed T-shirt</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$17.96 - 25.50</ins>
																</div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.9</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(343)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-40.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Anti-static Comb Large Wide Toothed  Comb Salon Hair Comb for T</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$35.00</ins>
																	<del>$50.00</del>
																</div>
																<div class="on-sale"><span>30</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.9</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(163)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-38.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Ladies Tops Shirt Blusas Mujer Women  Blouse 2019 Autumn Causal</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$25.00</ins>
																	<del>$50.00</del>
																</div>
																<div class="on-sale"><span>50</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.8</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(374)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-39.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Luxury Brand Handbag New Fashion  Simple Square bag Quality</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$20.00</ins>
																	<del>$25.00</del>
																</div>
																<div class="on-sale"><span>20</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.8</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(264)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row row-cols-1">
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-44.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">CNYISHE Elegant Satin  V-neck Ladies Christmas Party Night Dress</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$45.00</ins>
																	<del>$50.00</del>
																</div>
																<div class="on-sale"><span>10</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.75</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(538)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-45.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Men Genuine Leather Handbags Business Travel Shoulder Bag</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$15.00</ins>
																	<del>$25.00</del>
																</div>
																<div class="on-sale"><span>40</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.9</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(216)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-36.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Women Ice Silk Sleepwear Female Nightgown Women Nightwear</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$36.00</ins>
																	<del>$50.00</del>
																</div>
																<div class="on-sale"><span>28</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.95</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(263)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-46.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Mini Wireless Bluetooth  5.0 Earphone in Ear Sport</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$3.00</ins>
																	<del>$5.00</del>
																</div>
																<div class="on-sale"><span>40</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.9</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(253)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row row-cols-1">
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-23.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Fashion Mens Suit Jackets Slim  3 Pieces Suit Blazer Business</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$30.00</ins>
																	<del>$50.00</del>
																</div>
																<div class="on-sale"><span>40</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.6</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(63)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-47.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Single ButtonWomen's Winter Jackets And Coats Thicken Long Plus Size</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$3.00</ins>
																	<del>$5.00</del>
																</div>
																<div class="on-sale"><span>40</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.9</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(253)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-24.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Brand android television TV 32 40 46</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$700.00</ins>
																	<del>$1000.00</del>
																</div>
																<div class="on-sale"><span>30</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.9</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(97)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col">
												<div class="product type-product">
													<div class="product-wrapper">
														<div class="product-image">
															<a href="single-shop.html" class="woocommerce-LoopProduct-link"><img src="assets/images/products/squire-14.png" alt="Product Image"></a>
															<div class="wishlist-view">
																<div class="quickview-button">
																	<a class="quickview-btn" href="#quick-view" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Quick View" aria-label="Quick View">Quick View</a>
																</div>
																<div class="whishlist-button">
																	<a class="add_to_wishlist" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add to Wishlist" aria-label="Add to Wishlist">Wishlist</a>
																</div>
															</div>
														</div>
														<div class="product-info">
															<h3 class="product-title"><a href="single-shop.html">Men LED Digital Watches Women Sport Silicone</a></h3>
															<div class="product-price">
																<div class="price">
																	<ins>$65.00</ins>
																	<del>$100.00</del>
																</div>
																<div class="on-sale"><span>35</span><span>% off</span></div>
															</div>
															<div class="shipping-feed-back">
																<div class="star-rating">
																	<div class="rating-wrap">
																		<a href="single-shop.html"><i class="fas fa-star"></i><span> 4.7</span></a>
																	</div>
																	<div class="rating-counts-wrap">
																		<a href="#">(73)</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="products-header d-flex justify-content-between align-items-center py-10 px-20 bg-light md-mt-30">
						<div class="products-header-left d-flex align-items-center">
							<div class="woocommerce-result-count">Показано 9 из 2537 товаров</div>
						</div>
						<div class="products-header-right">
							<div class="product-show">
								<span class="h6 font-700 text-secondary mb-0">Показывать по:</span>
								<select class="show-number">
									<option value="1">6</option>
									<option value="2">9</option>
									<option value="3" selected="selected">12</option>
									<option value="4">24</option>
									<option value="5">36</option>
									<option value="6">48</option>
								</select>
							</div>
							<form class="woocommerce-ordering" method="get">
								<select name="orderby" class="orderby" aria-label="Shop order">
									<option value="1" selected="selected">Сортировка по популярности</option>
									<option value="2">Сортировка по рейтингу</option>
									<option value="3">Сортировка по дате</option>
								</select>
							</form>
						</div>
					</div>
					<div class="showing-products pt-30 pb-50 border-2 border-bottom border-light">
						<div class="row row-cols-xxl-2 row-cols-md-2 row-cols-1 g-3 shop-list product-list e-bg-light e-title-hover-primary e-hover-image-zoom e-btn-set-four cart-slide-left">
							div(class="col")
						</div>
					</div>
					<div class="d-flex justify-content-between align-items-center pt-3">
						<div class="pagination-style-one">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>