extends base.pug
block content
	<div class="full-row p-0">
		<div class="container">
			<div class="row g-3">
				
				<div class="col-xl-4 col-md-6 order-xl-2">
					<div class="row row-cols-1 g-3">
						<div class="col">
							<div class="banner-wrapper hover-img-zoom banner-one custom-class-130" style="background-color:#f2f1ef">
								<div class="banner-image overflow-hidden transation">
									<img class="lazyload" data-src="images/101.png" alt="Banner Image">
								</div>
								<div class="banner-content position-absolute">
									<h4 class="title"><a href="#">Производство<br> под заказ</a></h4>
									
									<a href="#" class="btn btn-outline-secondary rounded-0">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="banner-wrapper hover-img-zoom banner-one custom-class-131" style="background-color: #ebfcf9">
								<div class="banner-image overflow-hidden transation">
									<img class="lazyload" data-src="images/103.png" alt="Banner Image">
								</div>
								<div class="banner-content position-absolute">
									<h4 class="title"><a href="#">Совместные<br> закупки</a></h4>
									<a href="#" class="btn btn-outline-secondary rounded-0">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-md-12 order-xl-1">
					<div class="banner-wrapper hover-img-zoom banner-one custom-class-129">
						<div class="banner-image overflow-hidden transation">
							<img class="lazyload" data-src="images/104.png" alt="Banner Image">
						</div>

						<div class="banner-content position-absolute">
							
							<h2 class="title"><a href="#">Сумки оптом <br>от производителя</a></h2>
							<div class="font-seventeen text-secondary">
								<p>Самая большая фабрика по пошиву сумок в России</p>
								<div class="simple-video-play d-inline-block">
									<a data-fancybox href="../../https://www.youtube.com/watch?v=0HnHUBeIBqU" class="rounded-circle">
										<i class="flaticon-right-arrow-black-triangle position-relative xy-center flat-mini rounded-circle text-white bg-primary"></i>
									</a>
									<span class="h6 ps-3 text-dark">О нас за 1 минуту</span>
								</div>
								<a href="#" class="btn-link-down-line">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="full-row">
		<div class="bg2">
			<img class="lazyload" data-src="images/sumkaa1.jpg" alt="img">
		</div>
		<div class="container">
			<div class="row justify-content-center wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1000ms">
				<div class="col-xxl-7 col-xl-7 col-lg-9">
					<div class="text-center mb-40">
						<h2 class="text-center font-700 mb-4">Приглашаем к сотрудничеству</h2>
						<img class="lazyload" data-src="images/line.png" alt="img">
						<span class="sub-title">Гибкая политика скидок для оптовых покупателей. Мы предлагаем <a href="#" class="color2">ценовую политику,</a> которая позволяет зарабатывать всем нашим партнёрам. Подключайтесь и вы и получите специальные условия для сотрудничества</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="fact-counter">
						<div class="row">
							<div class="col-lg-4 col-md-4 position-relative">
								<div class="mb-30 count wow fadeIn" data-wow-duration="300ms">
									<img class="lazyload" data-src="images/icon101.png" alt="Зарегестрируйтесь на сайте">
									<h4 class="my-3">Зарегестрируйтесь на сайте</h4>
									<p>Пройдите простую процедуру регистрации на нашем сайте и станьте оптовым покупателем.</p>
								</div>
								<div class="arrow">
									<img class="lazyload" data-src="images/arrow.png">
								</div>
							</div>
							<div class="col-lg-4 col-md-4 position-relative">
								<div class="mb-30 count wow fadeIn" data-wow-duration="300ms">
									<img class="lazyload" data-src="images/icon102.png" alt="Зарегестрируйтесь на сайте">                               
									<h4 class="my-3">Оформите заказ на сумму от 10 000 рублей</h4>
									<p>Мы предоставим вам специальную оптовую цену на покупку всего ассортимента нашего магазина</p>
								</div>
								<div class="arrow">
									<img class="lazyload" data-src="images/arrow.png">
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="mb-30 count wow fadeIn" data-wow-duration="300ms">
									<img class="lazyload" data-src="images/icon103.png" alt="Зарегестрируйтесь на сайте">
									<h4 class="my-3">Получите заказ в выбранной ТК</h4>
									<p>Мы предоставим вам специальную оптовую цену на покупку всего ассортимента нашего магазина</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="full-row bg-gray" style="padding-bottom: 175px;">
		<div class="container">
			<div class="row">
				<div class="col-xl-8">
					<img class="lazyload" data-src="images/banner1.png" alt="баннер" style="max-width: 100%;">
				</div>
				<div class="col-xl-4">
					<img class="lazyload" data-src="images/banner2.png" alt="баннер" style="max-width: 100%;">
				</div>
			</div>
		</div>
	</div>



	<div class="full-row sm-mt-30" style="background-color: #BF9272; margin-top: 0; margin-bottom: 50px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="margin-top-minus-one">
						<div class="intro-video position-relative" style="background: url(images/56.png) no-repeat" data-fancybox  href="https://www.youtube.com/watch?v=wbnaHgSttVo" title="video popup">
					</div>
						<div class="text-white mt-4">
							
							<h2 class="text-white my-3">Производство под заказ</h2>
							<div class="font-sixteen">
								<p>На нашей фабрике Вы можете разместить заказ на пошив сумок по вашим эскизам или с вашим логотипом.</p>
							</div>
							<a href="#" class="btn btn-dark">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row row-cols-1">
						<div class="col">
							<div class="d-flex flex-column my-20">
								<i class="flaticon-capital flat-medium text-white"></i>
								<h4 class="my-3"><a href="#" class="text-white hover-text-primary transation-this">Работаем по вашим эскизам</a></h4>
								<span class="h6 font-400 text-white">У вас есть идея, которую вы хотите воплотить, мы поможем</span>
							</div>
						</div>
						<div class="col">
							<div class="d-flex flex-column my-20">
								<i class="flaticon-import flat-medium text-white"></i>
								<h4 class="my-3"><a href="#" class="text-white hover-text-primary transation-this">Сделаем пошив сумок под вашим брендом</a></h4>
								<span class="h6 font-400 text-white">Нанесем ваш логотип на сумки</span>
							</div>
						</div>
						<div class="col">
							<div class="d-flex flex-column my-20">
								<i class="flaticon-capital flat-medium text-white"></i>
								<h4 class="my-3"><a href="#" class="text-white hover-text-primary transation-this">Сделаем пошив сумок под вашим брендом</a></h4>
								<span class="h6 font-400 text-white">Нанесем ваш логотип на сумки</span>
							</div>
						</div>
					</div>
				</div>

			</div>
			
		</div>
		<div class="bg3">
			<img class="lazyload" data-src="images/bag1.png" alt="img">
		</div>
	</div>



	<div class="full-row pt-0 px-sm-5 pb-0">
		<div class="container-fluid">
			<div class="row justify-content-center wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1000ms">
				<div class="col-xxl-7 col-xl-7 col-lg-9">
					<div class="text-center mb-40">
						<h2 class="text-center font-700 mb-4">Розничный магазин</h2>
						<img class="lazyload" data-src="images/line.png" alt="img">
						<span class="sub-title">У нас на сайте вы можете ознакомиться с розничными ценами на наши основные товары. Для зарегестрированных оптовых покупателей стоимость будет автоматически на все товары пересчитана. Для просмотра оптовых цен <a href="#" class="color2">зарегестрируйтесь в кабинете</a></span>
					</div>
				</div>
			</div>
			<div class="row row-cols-xxl-6 row-cols-md-3 row-cols-sm-2 row-cols-2 g-3 coustom-categories-banner-1 e-wrapper-absolute e-hover-image-zoom">
				- arrTitle = ["Для ценителей классики", "Современный модерн", "Для пляжного отдыха", "Для активного отдыха", "Для ценителей качества", "На вечерний выход"]
				each item, index in ["images/category-9.png", "images/category-10.png", "images/category-11.png", "images/category-12.png", "images/category-13.png", "images/category-14.png"]
					<div class="col">
						<div class="product type-product">
							<div class="product-wrapper">
								<div class="product-image">
									a(href="#")
										img(class="lazyload" data-src=item alt="Product image")
								</div>
								<div class="product-info">
									<h6 class="product-title">
										a(href="#")
											= arrTitle[index]
									</h6>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>



	<div class="full-row pt-5 px-sm-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="top-collection-tab nav-tab-active-secondary">
						ul(class="nav nav-pills list-color-general justify-content-center mb-5")
							- arrTabsTitle = ["Новые поступления", "Самые популярные", "Распродажа"]
							each item, index in ["#pills-new-arrival-two", "#pills-Trending-two", "#pills-best-selling-two"]
								if (index == 0)
									li(class="nav-item")
										a(class="nav-link active" data-bs-toggle="pill" href=item)
											= arrTabsTitle[index]
								else
									li(class="nav-item")
										a(class="nav-link" data-bs-toggle="pill" href=item)
											= arrTabsTitle[index]
						div(class="tab-content icon-hover-primary")
							- arrTabsClass1 = "";
							each item, index in ["pills-new-arrival-two", "pills-Trending-two", "pills-best-selling-two"]
								if (index == 0)
									- arrTabsClass1 = "show active";
								else
									- arrTabsClass1 = "";
									
								div( class=['tab-pane fade'] class=arrTabsClass1 id=item)
										div(class="row gy-3 row-cols-xl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 e-title-hover-primary e-image-bg-light e-hover-image-zoom e-btn-set-four cart-slide-left e-info-center")
											- for(let i = 0; i < 10; i++)
												<div class="col">
													include components/product.pug
												</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="full-row">
		<div class="container">
			<div class="row justify-content-center wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1000ms">
				<div class="col-xxl-7 col-xl-7 col-lg-9">
					<div class="text-center mb-40">
						<h2 class="text-center font-700 mb-4">Доставка</h2>
						<img class="lazyload" data-src="images/line.png">
						<span class="sub-title">Мы осуществляем доставку во все регионы России удобной транспортной компанией. Ниже вы можете ознакомиться с предварительными тарифами отправки груза до вашего города.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid bg4">
			<div class="row">
				<div class="col-lg-5">
					<img class="lazyload" data-src="images/phone.png">
				</div>
				<div class="col-lg-7">
				</div>
			</div>
		</div>
	</div>



	<div class="full-row bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-5">
					<span class="h6 text-center text-primary d-table w-50 mx-auto">Историческая линия</span>
					<h3 class="text-secondary down-line-secondary mb-4 text-center w-75 mx-auto w-sm-100 text-center">О компании</h3>
					<span class="text-dark mt-4 mb-4 sub-title ordenery-font text-center w-50 font-italic mx-auto">Фабрика L-Craft относится к числу ведущих в России производителей женских сумок. Бренд L-Craft запустил собственное производство сумок из натуральной кожи, тканей и кожзаменителя в 1993 году в Санкт-Петербурге.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="tab-simple history-tab tab-action">
						<ul class="nav nav-pills wc-tabs" id="pills-tab-one" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" id="pills-1985-one-tab" data-bs-toggle="pill" href="#pills-1985-one" role="tab" aria-controls="pills-1985-one" aria-selected="true">1993</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-1995-one-tab" data-bs-toggle="pill" href="#pills-1995-one" role="tab" aria-controls="pills-1995-one" aria-selected="true">1997</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-2005-one-tab" data-bs-toggle="pill" href="#pills-2005-one" role="tab" aria-controls="pills-2005-one" aria-selected="true">2001</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-2011-one-tab" data-bs-toggle="pill" href="#pills-2011-one" role="tab" aria-controls="pills-2011-one" aria-selected="true">2008</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-2015-one-tab" data-bs-toggle="pill" href="#pills-2015-one" role="tab" aria-controls="pills-2015-one" aria-selected="true">2014</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="pills-2019-one-tab" data-bs-toggle="pill" href="#pills-2019-one" role="tab" aria-controls="pills-2019-one" aria-selected="true">2021</a>
							</li>
						</ul>
						<div class="tab-content icon-hover-primary" id="pills-tabContent-one">
							<div class="tab-pane fade show active woocommerce-Tabs-panel woocommerce-Tabs-panel--description" id="pills-1985-one" role="tabpanel" aria-labelledby="pills-1985-one-tab">
								<div class="container">
								<div class="row pt-5">
									<div class="col-lg-4">
										<img class="lazyload" data-src="images/history.png" alt="img">
									</div>
									<div class="col-lg-8">
										<h5 class="text-white my-4 text-dark">Образование компании</h5>
								<p class="">За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ. Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше. В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.</p>
									</div>
								</div>
							</div>
								
							</div>
							<div class="tab-pane fade" id="pills-1995-one" role="tabpanel" aria-labelledby="pills-1995-one-tab">
								<h5 class="text-white my-4 text-dark">Образование компании</h5>
								<p class="">За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ. Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше. В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.</p>
							</div>
							<div class="tab-pane fade" id="pills-2005-one" role="tabpanel" aria-labelledby="pills-2005-one-tab">
								<h5 class="text-white my-4 text-dark">Образование компании</h5>
								<p class="">За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ. Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше. В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.</p>
							</div>
							<div class="tab-pane fade" id="pills-2011-one" role="tabpanel" aria-labelledby="pills-2011-one-tab">
								<h5 class="text-white my-4 text-dark">Образование компании</h5>
								<p class="">За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ. Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше. В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.</p>
							</div>
							<div class="tab-pane fade" id="pills-2015-one" role="tabpanel" aria-labelledby="pills-2015-one-tab">
								<h5 class="text-white my-4 text-dark">Образование компании</h5>
								<p class="">За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ. Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше. В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.</p>
							</div>
							<div class="tab-pane fade" id="pills-2019-one" role="tabpanel" aria-labelledby="pills-2019-one-tab">
								<h5 class="text-white my-4 text-dark">Образование компании</h5>
								<p class="">За десятилетия работы компания добилась больших успехов, сделав свою кожгалантерейную продукцию популярной у потребителей. У неё сотни представительств и в самом городе на Неве, и в других российских городах, и в государствах СНГ. Талантливые дизайнеры L-Craft, опираясь на текущие тренды, разрабатывают собственные модели – функциональные, практичные, удобные. Новые коллекции модных сумок выходят ежегодно, хотя изнашиваются они гораздо дольше. В каталоге фабрики на l-craft.ru представлено более двухсот позиций в наличии либо под заказ. Мы продаем кожгалантерею по минимальным ценам, оперативно доставляем в любой российский регион.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>






	<div class="full-row px-sm-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<h2 class="text-center font-500 mb-40">Интересно о нашей жизни</h2>
				</div>
			</div>
			<div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 g-4 gy-xl-0">
				<div class="col">
					<div class="thumb-blog-simple transation hover-img-zoom">
						<div class="post-image overflow-hidden">
							<img class="lazyload" data-src="images/2.png" alt="Image not found!">
						</div>
						<div class="post-content">
							<div class="post-meta font-small text-uppercase list-color-primary">
								<a href="#"><span>12.04.2021</span></a>
							</div>
							<h5><a href="#" class="transation text-dark hover-text-primary d-table my-10 font-500">Новое поступление летних сумок</a></h5>
							<p>Товарищи! укрепление и развитие структуры требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры</p>
							<a href="#" class="btn-link-down-line d-table">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="thumb-blog-simple transation hover-img-zoom">
						<div class="post-image overflow-hidden">
							<img class="lazyload" data-src="images/4.png" alt="Image not found!">
						</div>
						<div class="post-content">
							<div class="post-meta font-small text-uppercase list-color-primary">
								<a href="#"><span>10.04.2021</span></a>
							</div>
							<h5><a href="#" class="transation text-dark hover-text-primary d-table my-10 font-500">Как работаем в праздники</a></h5>
							<p>Товарищи! укрепление и развитие структуры требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры</p>
							<a href="#" class="btn-link-down-line d-table">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="thumb-blog-simple transation hover-img-zoom">
						<div class="post-image overflow-hidden">
							<img class="lazyload" data-src="images/3.png" alt="Image not found!">
						</div>
						<div class="post-content">
							<div class="post-meta font-small text-uppercase list-color-primary">
								<a href="#"><span>08.03.2021</span></a>
							</div>
							<h5><a href="#" class="transation text-dark hover-text-primary d-table my-10 font-500">На отдых вместе с L-Craft</a></h5>
							<p>Товарищи! укрепление и развитие структуры требуют от нас анализа новых предложений. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры</p>
							<a href="#" class="btn-link-down-line d-table">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>