extends base.pug
block content
	include components/breadcrumbs.pug
	<div class="full-row">
		<div class="container">
			<div class="row single-product-wrapper">
				<div class="col-12 col-lg-5">
					<div class="product-images">
						<div class="images-inner">
							<div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 1; transition: opacity 0.25s ease-in-out 0s;">
								<figure class="woocommerce-product-gallery__wrapper">
									<div class="bg-light">
										<img id="single-image-zoom" class="img-fluid" src="images/product.png" alt="Thumb Image" data-zoom-image="images/product.png" />
									</div>

									<div id="gallery_09" class="product-slide-thumb">
										a(class="active" href="#" data-image="images/product.png" data-zoom-image="images/product.png")
												<img src="images/product.png" alt="Thumb Image" />
										-for(let j = 0; j < 3; j++)
											a( href="#" data-image="images/product.png" data-zoom-image="images/product.png")
												<img src="images/product.png" alt="Thumb Image" />
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="summary entry-summary">
						<form class="summary-inner">
							<h2 class="product_title">Модель №V161</h2>
							table(class="set")
								tr
									td
										b
											| Материал:
									td
										| Кожзам гладкий P847-11
								tr
									td
										b
											| Артикул:
									td
										| 28236
								tr
									td
										b
											| Цвет:
									td
										| серебро
							b(class="product__subtitle d-block pt-2 pb-3")
								| Доступные цвета:
							div(class="product-variations d-flex align-items-center pb-5")
								<label for="temp_1" class="input input_radio input_radio_product">
									<input type="radio" name="temp" id="temp_1" value="1" checked>
									<span class="input__text" style="background-color: #b78269;"></span>
								</label>
								<label for="temp_2" class="input input_radio input_radio_product">
									<input type="radio" name="temp" id="temp_2" value="2">
									<span class="input__text" style="background-color: #f1cc4e;"></span>
								</label>
								<label for="temp_3" class="input input_radio input_radio_product">
									<input type="radio" name="temp" id="temp_3" value="3">
									<span class="input__text" style="background-color: #31749e;"></span>
								</label>
								<label for="temp_4" class="input input_radio input_radio_product">
									<input type="radio" name="temp" id="temp_4" value="4">
									<span class="input__text" style="background-color: #672a4f;"></span>
								</label>
							p(class="description pb-5")
								| Сумка женская Vintage, мягкая. 1 отделение. Задняя стенка: карман на молнии. Внутри: карман на молнии, открытый карман. Размеры: Длина (по дну) 28 см, Высота 27 см, Ширина (по дну) 12 см.
							div(class="d-flex flex-xl-row flex-column align-items-xl-center")
								div(class="picker-number picker-number_type-3 picker-number_type-3_hover-1")
									button(class="picker-number__button picker-number__button_dec" type="button") -
									input(class="picker-number__input" type="number" value="1" step="1" min="1")
									button(class="picker-number__button picker-number__button_inc" type="button") +
								<button type="submit" class="btn btn-primary ms-xl-2 mt-3 mt-xl-0">В КОРЗИНУ</button>
							div( class="pt-3")
								button(class="d-flex align-items-center btn-heart")
									<i class="icon-heart-1"></i>
									span(class="ms-2")
										| Добавить в избранное
						</form>
					</div>
				</div>
				div(class="col-12 col-lg-3 mt-3 mt-lg-0")
					div(class="cart-sidebar cart-sidebar_product")
						span(class="title")
							b
								| оптовая цена:
						div(class="cart-sidebar__count pb-4")
							div(class="cart-sidebar__coupon")
								span(class="main-color")
									| 1 868 ₽
						span(class="title")
							| розничная цена:
						div( class="cart-sidebar__price")
							span()
								b
									| 18 869 ₽
			</div>
		</div>
	</div>

	<!--==================== Product Description Section Start ====================-->
	<div class="full-row">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-head border-bottom">
						<div class="woocommerce-tabs wc-tabs-wrapper ps-0">
							<ul class="nav nav-pills wc-tabs" id="pills-tab-one" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link active" id="pills-description-one-tab" data-bs-toggle="pill" href="#pills-description-one" role="tab" aria-controls="pills-description-one" aria-selected="true">Описание</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="woocommerce-tabs wc-tabs-wrapper ps-0 mt-0 pt-3 pb-5">
						<div class="tab-content" id="pills-tabContent-one">
							<div class="tab-pane fade show active woocommerce-Tabs-panel woocommerce-Tabs-panel--description" id="pills-description-one" role="tabpanel" aria-labelledby="pills-description-one-tab">
								p()
									| С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа существенных финансовых и административных условий. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
								p()
									| С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
								p()
									| С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа существенных финансовых и административных условий. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
								p()
									| С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================== Product Description Section End ====================-->


	<!--==================== Related Products Section Start ====================-->
	<div class="full-row pb-5 overflow-hidden">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center mb-40">
						<h2 class="text-center font-700 mb-3">Смотрите также</h2>
						<img class="lazyload w-auto" data-src="images/line.png" alt="img" src="images/line.png">
					</div>
				</div>
				<div class="col-12">
					<div class="five-carousel owl-carousel dot-disable owl-mx-5 nav-arrow-middle-show e-title-hover-primary e-image-bg-light e-hover-image-zoom e-btn-set-four cart-slide-left e-info-center">
						-for(let q = 0; q < 10; q++)
							div(class="item")
								include components/product.pug
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================== Related Products Section End ====================-->



	<!--==================== Related Products Section Start ====================-->
	<div class="full-row pb-5 overflow-hidden">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center mb-40">
						<h2 class="text-center font-700 mb-3">Вы смотрели</h2>
						<img class=" lazyload w-auto" data-src="images/line.png" alt="img" src="images/line.png">
					</div>
				</div>
				<div class="col-12">
					<div class="five-carousel owl-carousel dot-disable owl-mx-5 nav-arrow-middle-show e-title-hover-primary e-image-bg-light e-hover-image-zoom e-btn-set-four cart-slide-left e-info-center">
						-for(let q = 0; q < 10; q++)
							div(class="item")
								include components/product.pug
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================== Related Products Section End ====================-->