extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="pt-50-60 pb-50-120")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-2 pb-5 pb-lg-0")
					div(class="profile-widget")
						div(class="d-flex flex-column")
							a(class="profile-widget__link" href="#")
								| Профиль
							a(class="profile-widget__link profile-widget__link_active" href="#")
								| История заказов
						a(class="profile-widget__link profile-widget__link_exit" href="#")
							| Выход
				div(class="col-12 col-lg-9 offset-lg-1")
					div(class="row d-none d-lg-flex mb-5")
						div(class="col-lg-3")
							b(class="profile-order-title")
								| Номер заказа
						div(class="col-lg-3")
							b(class="profile-order-title")
								| Статус
						div(class="col-lg-3")
							b(class="profile-order-title")
								| Способ доставки
						div(class="col-lg-3")
							b(class="profile-order-title")
								| Итого
					div(class="profile-order-item mb-4")
						div(class="row")
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Номер заказа
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| #2021/06/0007
									span(class="profile-order-item-title")
										| 10 июня 2021
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Статус
								div(class="d-flex flex-column")
									span(class="profile-order-item-title profile-order-item-title_green")
										| Оплачен
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										|Способ доставки
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| Самовывоз
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Итого
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| 17 800 ₽
					div(class="profile-order-item mb-4")
						div(class="row")
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Номер заказа
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| #2021/06/0007
									span(class="profile-order-item-title")
										| 10 июня 2021
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Статус
								div(class="d-flex flex-column")
									span(class="profile-order-item-title ")
										| Оплачен
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										|Способ доставки
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| Самовывоз
							div(class="col-lg-3 pb-4 pb-lg-0")
								div(class="d-block d-lg-none pb-2")
									b(class="profile-order-title")
										| Итого
								div(class="d-flex flex-column")
									span(class="profile-order-item-title")
										| 17 800 ₽
										

