extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="pt-50-60 pb-50-120")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-2 pb-5 pb-lg-0")
					div(class="profile-widget")
						div(class="d-flex flex-column")
							a(class="profile-widget__link profile-widget__link_active" href="#")
								| Профиль
							a(class="profile-widget__link" href="#")
								| История заказов
						a(class="profile-widget__link profile-widget__link_exit" href="#")
							| Выход
				div(class="col-12 col-lg-6")
					form()
						<div class="form-group mb-4 pb-3">
							<label for="name">Имя пользователя<span>*</span></label>
							<input type="text" class="form-control" id="name" placeholder="Имя пользователя, например Test">
						</div>
						<div class="form-group mb-4 pb-3">
							<label for="fullname">Полное имя<span>*</span></label>
							<input type="text" class="form-control" id="fullname" placeholder="Ваше полное имя">
						</div>
						<div class="form-group mb-4 pb-3">
							<label for="email">Email<span>*</span></label>
							<input type="email" class="form-control" id="email" placeholder="Ваш электронный адрес">
						</div>
						<div class="form-group mb-4 pb-3">
							<label for="phone">Телефон</label>
							<input type="phone" class="form-control" id="phone" placeholder="Ваш телефон">
						</div>
						<div class="form-group pb-3">
							<label for="firstpass">Пароль</label>
							<input type="password" class="form-control" id="firstpass" placeholder="**********">
							<div class="form-text">Вы можете указать новый пароль</div>
						</div>
						<div class="form-group mb-5 pb-3">
							<input type="password" class="form-control" id="secondpass" placeholder="**********">
							<div class="form-text">Повторите пароль</div>
						</div>
						div(class="pt-3")
							<button type="submit" class="btn btn-primary">сохранить</button>
