extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="py-50-100")
		div(class="container")
			div(class="row justify-content-center")
				div(class="col-12 col-lg-6 col-xl-4")
					form()
						<div class="form-group mb-4">
							<label for="exampleInputEmail">Логин<span>*</span></label>
							<input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Имя пользователя или  email">
						</div>
						<div class="form-group mb-4">
							<label for="exampleInputPass">Пароль<span>*</span></label>
							<input type="password" class="form-control" id="exampleInputPass" aria-describedby="emailHelp" placeholder="Пароль">
						</div>
						div(class="pt-3 pb-4 d-flex flex-wrap flex-column flex-lg-row align-items-center")
							<button type="submit" class="btn btn-primary">Войти</button>
							a(href="#" class="btn-link ms-lg-4 mt-4 mt-lg-0")
								| Зарегистрироваться
						div(class="d-flex justify-content-center justify-content-lg-start")
							a(href="#" class="btn-link btn-link_2")
								| Забыли пароль?
