extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="py-50-100")
		div(class="container")
			div(class="row justify-content-center")
				div(class="col-12 col-lg-6 col-xl-4")
					form()
						<div class="form-group mb-4">
							<label for="exampleInputEmail">E-mail<span>*</span></label>
							<input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email">
						</div>
						<div class="form-check mb-4">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Зарегестрироваться как оптовый покупатель</label>
						</div>
						div(class="pt-3")
							<button type="submit" class="btn btn-primary">Зарегестрироваться</button>
