/* INCLUD SASS */

@import "template/bootstrap.min.css";
@import "template/all.min.css";
@import "template/animate.min.css";
@import "flaticon/flaticon.css";
@import "template/owl.carousel.min.css";

@import "template/jquery.fancybox.min.css";

@import "template/layerslider.css";
@import "template/template.css";
@import "template/style.css";
@import "template/handicruft.css";

@import "fonts/_fonts";
@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";






.color2{
    color:#F3612E;
}
.custom-class-129 .banner-content {
    top: 0;
    left: 0;
    padding: 94px;
}
.custom-class-131 .banner-content .title::after{
    display: none;
}
.custom-class-130 .banner-content .title::after{
    display: none;
}
.sub-title{
    margin-top:15px;
}
.bg2{
    position: absolute;
    right: 0;
}
.arrow{
    position: absolute;
    top:0;
    right: 0;
}
.bg3{
    position: absolute;
    right: 0;
    bottom: 0;
}
.bg4{
    background: url(../images/map.jpg);
}
.thumb-blog-simple .post-content {
    width: 80%;
    position: relative;
    margin-top: -50px;
    background-color: #eeeeee;
    left: 0;
    padding: 30px;
}

.thumb-blog-simple .post-meta {
    font-weight: 500;
    letter-spacing: 2px;
}

.thumb-blog-simple .post-content .btn-link-down-line {
    text-transform: capitalize;
    font-size: 14px;
}
.footer-widget .widget-title{
    color:#333;
    font-weight:700;
}
.lk2{
    color:#F3612E;
}


.container-1920 {
    @media screen and (min-width: 1500px) {
        max-width: 1790px;
    }
}





.e-btn-set-four .hover-area .cart-button a::after {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e90c";
}

.tooltip > .tooltip-inner { background-color: #BF8072; color: #fff; }
.product-wrapper .product-image .woocommerce-LoopProduct-link {
    position: relative;
    z-index: 2;
}
.product-wrapper .product-image .product-variations {
    z-index: 3;
}
.product-wrapper .product-image .on-sale {
    z-index: 2;
}
.e-btn-set-four .product-wrapper .hover-area {
    z-index: 2;
}

.breadcrumb-block {
    background: #F8F8F8;
    padding: 50px 0px;
    h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #222222;
    }
    .breadcrumb-content {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            li {
                font-size: 14px;
                line-height: 16px;
                color: #222222;
                a {
                    font-size: 14px;
                    line-height: 16px;
                    color: #222222;
                }
            }
            .breadcrumb-line {
                padding: 0px 5px;
            }
            @media (max-width: 991px) {
                justify-content: flex-start;
            }
        }
    }
    @media (max-width: 991px) {
        padding: 8px 0px;
    }
}


.profile-widget__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #222222;
    margin-bottom: 21px;
    &.profile-widget__link_active {
        text-decoration: underline!important;
    }
    &.profile-widget__link_exit {
        font-size: 14px;
        line-height: 17px;
        color: #838585;
    }
}



.profile-order-title {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.profile-order-item {
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 16px 18px;
}
.profile-order-item-title {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    &.profile-order-item-title_green {
        color: #35C154;
    }
}



.cart-sidebar {
    background: #F8F8F8;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 38px 38px 43px 38px;
    
    .title {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 17px;
    }
    
    .cart-sidebar__count,
    .cart-sidebar__price {
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    .cart-sidebar__coupon {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }
    &.cart-sidebar_product {
        .title {
            margin: 0px;
            font-weight: normal;
        }
        .cart-sidebar__coupon {
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
        }
        .cart-sidebar__price {
            font-size: 24px;
            line-height: 29px;
        }
    }
}

.main-color {
    color: #F3612E;
}




.cart-item {
    padding: 16px 0px;
    border-bottom: 1px solid #838585;
    .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    .arc {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #838585;
    }
    .price {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: line-through;
        color: #838585;
    }
    .price_coupon {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #F3612E;
    }
    .sub-price {
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
}

.font-24 {
    font-size: 24px;
    line-height: 26px;
}
.woocommerce-shipping-methods label {
    display: flex;
    align-items: center;
    margin-bottom: 34px;

    font-size: 18px;
    line-height: 21px;
    color: #000000;

}
.checkout .woocommerce-shipping-methods label::before {
    width: 24px;
    height: 24px;
    position: unset;
    display: inline-block;
    margin-right: 19px;
    border: 0px;
    box-shadow: 0px 0px 1px 1px #000;
}
.checkout .woocommerce-shipping-methods .shipping_method:checked+label::before {
    border: 4px solid #fff;
    box-shadow: 0px 0px 1px 1px #000;
    background: #C4C4C4;
}

.about-block .history-tab .nav-item a.active::after {
    background-color: #fff;
}

.about-block .tab-content h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #222222;
    margin: 0px;
    padding-bottom: 27px;
}
.about-block .tab-content p {
    font-family: 'Gilroy', sans-serif;
    
    font-size: 14px;
    line-height: 16px;
    color: #838585;
}


.intro-video {
    background-image: url("../images/56.png");
    background-repeat: no-repeat;

    border-radius: 35px;
    background-size: cover;
    background-position: center center;
    min-height: 387px;
}

.block-video {
    h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #F3612E;
        margin-bottom: 25px;
    }
    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 35px;
    }
    p {
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
}



.frt-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
        margin-bottom: 38px;
        max-width: 72px;
    }

    .count {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #F8F8F8;
        margin-bottom: 11px;
    }
    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-bottom: 22px;
    }
    p {
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
}








.single-product-wrapper {
    .product_title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        margin-bottom: 20px;
    }
    .set {
        tr {
            td {
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                padding-bottom: 8px;
                &:nth-child(1) {
                    font-weight: bold;
                }
                &:nth-child(2) {
                    padding-left: 10px;
                }
            }
        }
    }
    .product__subtitle {
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }
    .description {
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
}


.entry-summary form div button {
    height: unset;
}

.woocommerce-tabs .nav-pills .nav-link {
    font-size: 18px;
    line-height: 21px;
    color: #222222;
}

.woocommerce-tabs .tab-content p {
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}
.woocommerce-tabs .nav-pills .nav-link.active, .woocommerce-tabs .nav-pills .nav-link:hover {
    border-bottom-color:#222222;
}

.product-wrapper .product-info .product-title,
.product-wrapper .product-info .product-title a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #222222;
}

.now-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}


.category-sidebar-item {
    padding-bottom: 40px;
    h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #222222;
        padding-bottom: 15px;
        border-bottom: 1px solid #838585;
        margin-bottom: 26px;
    }
    ul {
        li {
            margin-bottom: 16px;
            a {
                font-size: 14px;
                line-height: 16px;
                color: #838585;
                &.rare {
                    color: #F3612E;
                    span {
                        color: #838585;
                    }
                }
            }
            &:last-child {
                margin: 0px;
            }
        }
    }
}