
.top-links {
	& > li {
		@media (max-width: 991px) {
			padding: 0 0 0 13px!important;
			&:first-child {
				padding: 0px!important;
			}
		}
	}
	a {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		min-width: 34px;
		max-width: 64px;

		color: #000!important;
		font-size: 12px;
		line-height: 14px;

		i {
			font-size: 24px;
			line-height: 26px;
			margin-bottom: 3px;
			transition: 0.3s;
			@media (max-width: 991px) {
				font-size: 16px;
				line-height: 18px;
			}
		}
		&.header-cart,
		&.header-favorites {
			height: 58px;
			.count {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 23px;
				height: 23px;
				border-radius: 100%;
				background-color: #BF8072;
		
				position: absolute;
				top: 0px;
				left: 0px;
				
				font-size: 18px;
				line-height: 21px;
				color: #FFFFFF;
				@media (max-width: 991px) {
					width: 16px;
					height: 16px;

					font-size: 12px;
					line-height: 12px;
				}
			}
			@media (max-width: 991px) {
				height: 26px;

			}
		}
		&:hover {
				i {
					color: #BF8072;
				}
		}
		@media (max-width: 991px) {
			min-width: 24px;
			max-width: 24px;
		}
	}
	@media (max-width: 991px) {
		margin: 0px;
	}
}
.header-phone {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #222222;

	display: flex;
	align-items: center;

	transition: 0.3s;
	i {
		margin-right: 13px;
		color: #BF8072;
		font-size: 24px;
		line-height: 26px;
	}
	&.header-phone_footer {
		font-weight: normal;
	}
	@media (max-width: 991px) {
		font-size: 14px;
		line-height: 17px;
		i {
			margin-right: 10px;
			font-size: 16px;
			line-height: 18px;
		}
	}
}
.ecommerce-header .top-links>li {
	border: 0px;
}

.ecommerce-header .top-header {
	padding: 4px 0px 11px 0px;
	background: #F8F8F8;
	@media (max-width: 991px) {
		padding: 7px 0px;
	}
}

.header-description {
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline!important;
	color: #222222;
	@media (max-width: 991px) {
		display: block;
		text-align: center;
		font-size: 11px;
		line-height: 13px;
	}
}

.middle-header {
	padding: 13px 0px 13px 0px;
	@media (max-width: 991px) {
		padding: 10px 0px 5px 0px;
	}
}
.header-sticky {
	@media (max-width: 991px) {
		padding: 10px 0px 30px 0px!important;
	}
}
.push-nav-toggle {
	display: flex;
	align-items: center;
	span {
		margin-left: 13px;
		font-size: 12px;
		line-height: 14px;
		color: #000000;
	}
	@media (max-width: 991px) {
		padding: 0px;
	}
}

.main-nav {
	padding: 13px 0px 30px 0px;
}

.navbar-expand-lg .navbar-nav .nav-item {
	.nav-link {
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: #222222;
		&.active {
			border-bottom: 2px solid #222222;
		}
		@media (min-width: 992px) and (max-width: 1500px) {
			font-size: 14px;
			line-height: 16px;
		}
	}
	.dropdown-item:focus, .dropdown-item:hover,
	.navbar .navbar-nav li>ul.dropdown-menu li.active>a {
		background-color: #BF8072!important;
		color: #fff!important;
	}
	@media (min-width: 992px) and (max-width: 1500px) {
		padding: 0 10px!important;
	}
}





.header-search {
	display: flex;
	height: 50px;
	max-width: 520px;
	input {
		height: 100%;
		border: 0px;
		width: 100%;
		max-width: calc(100% - 168px);
		background: #F8F8F8;
		border-radius: 50px 0px 0px 50px;
		padding: 17px 0 17px 40px;

		font-size: 14px;
		line-height: 16px;
		color: #222222;
		&::-moz-placeholder { 			color: #222222; }
		&::-webkit-input-placeholder { 	color: #222222; }
		&:-ms-input-placeholder { 		color: #222222; }
		&::-ms-input-placeholder { 		color: #222222; }
		&::placeholder { 				color: #222222; }
		&::-webkit-search-decoration { 			display: none; } 
		&::-webkit-search-cancel-button { 		display: none; } 
		&::-webkit-search-results-button { 		display: none; } 
		&::-webkit-search-results-decoration { 	display: none; } 
		&:focus { outline: none; }
	}
	button {
		border: 0px;
		background-color: #BF8072;
		height: 100%;
		width: 169px;
		border-radius: 0px 50px 50px 0px;
		padding: 13px 20px 13px 42px;

		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;

		display: flex;
		justify-content: space-between;
		align-items: center;
		i {
			font-size: 24px;
			line-height: 26px;
		}
	}
}
.ecommerce-header .header-search {
	@media (max-width: 991px) {
		height: 30px;
		input {
			max-width: calc(100% - 41px);
			padding: 7px 0 7px 12px;
			font-size: 12px;
			line-height: 14px;
			&::-moz-placeholder { 			font-size: 12px; line-height: 14px; }
			&::-webkit-input-placeholder { 	font-size: 12px; line-height: 14px; }
			&:-ms-input-placeholder { 		font-size: 12px; line-height: 14px; }
			&::-ms-input-placeholder { 		font-size: 12px; line-height: 14px; }
			&::placeholder { 				font-size: 12px; line-height: 14px; }
		}
		button {
			width: 41px;
			padding: 0px;
			justify-content: center;
			span {
				display: none;
			}
			i {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}
}


.navbar-brand {

	&.navbar-brand_border {
		position: relative;
		&::after {
			position: absolute;
			right: -4px;
			top: calc(50% - 34px);
			content: "";
			display: block;
			width: 4px;
			height: 67px;
			background-color: #F3612E;
			border-radius: 5px;

			@media (max-width: 991px) {
				width: 2px;
				right: -20px;
				height: 32px;
				top: calc(50% - 16px);
			}
		}
		
		padding-right: 15px;
		@media (max-width: 991px) {
			padding: 0px;
			margin-right: 33px!important;
		}
		
	}
	@media screen and (max-width: 420px) {
		display: block;
	}
}
.navbar-brand_1 {
	img.nav-logo {
		@media (max-width: 991px) {
			min-width: unset!important;
			max-width: 85px!important;
			padding: 0px;
		}
	}
	
}
.navbar-brand_2 {
	img.nav-logo {
		@media (max-width: 991px) {
			min-width: unset!important;
			max-width: 56px!important;
			padding: 0px;
		}
	}
}